In [15]:
#importando bibliotecas 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
!pip install termcolor
from sklearn.model_selection import train_test_split
from termcolor import colored

Requirement already satisfied: termcolor in c:\users\loveb\anaconda3\lib\site-packages (1.1.0)

Lendo dados de treino e teste

In [32]:
# defindo pasta raiz
path = 'Desktop/git/input/test.csv'
train = pd.read_csv(r"C:/Users/loveb/Desktop/git/input/train.csv")
test = pd.read_csv(r"C:/Users/loveb/Desktop/git/input/test.csv")

In [28]:
train.head()

,Id,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
1,3,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
2,4,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
3,6,2008-12-06,Albury,14.6,29.7,0.2,NaN,NaN,WNW,56.0,...,55.0,23.0,1009.2,1005.4,NaN,NaN,20.6,28.9,No,No
4,8,2008-12-08,Albury,7.7,26.7,0.0,NaN,NaN,W,35.0,...,48.0,19.0,1013.4,1010.1,NaN,NaN,16.3,25.5,No,No

In [48]:
test.head()

,Id,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,1,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,5,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
2,7,2008-12-07,Albury,14.3,25.0,0.0,NaN,NaN,W,50.0,...,49.0,19.0,1009.6,1008.2,1.0,NaN,18.1,24.6,No,No
3,19,2008-12-19,Albury,11.2,22.5,10.6,NaN,NaN,SSE,43.0,...,47.0,32.0,1009.4,1009.7,NaN,2.0,15.5,21.0,Yes,No
4,25,2008-12-25,Albury,12.6,32.4,0.0,NaN,NaN,W,43.0,...,49.0,17.0,1012.9,1010.1,NaN,NaN,21.5,31.2,No,No

In [33]:
# realocando index na base de dados
train.set_index('Date', inplace=True)
test.set_index('Date', inplace=True)
#remover id, nÃ£o nos servirÃ¡ de nada
train.drop(['Id'],axis=1,inplace=True)
test.drop(['Id'],axis=1,inplace=True)

In [19]:
test.head(2)

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
Date,,,,,,,,,,,,,,,,,,,,,
2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,WNW,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,NW,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

In [34]:
#transformando variÃ¡veis Dummys ( Hot encoding)
train= pd.get_dummies(train, columns=['Location','WindDir9am','WindDir3pm','WindGustDir','RainToday', 'RainTomorrow'], drop_first=True)
test= pd.get_dummies(test, columns=['Location','WindDir9am','WindDir3pm','WindGustDir','RainToday', 'RainTomorrow'], drop_first=True)

In [35]:
train.head()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,...,WindGustDir_S,WindGustDir_SE,WindGustDir_SSE,WindGustDir_SSW,WindGustDir_SW,WindGustDir_W,WindGustDir_WNW,WindGustDir_WSW,RainToday_Yes,RainTomorrow_Yes
Date,,,,,,,,,,,,,,,,,,,,,
2008-12-02,7.4,25.1,0.0,NaN,NaN,44.0,4.0,22.0,44.0,25.0,...,0,0,0,0,0,0,1,0,0,0
2008-12-03,12.9,25.7,0.0,NaN,NaN,46.0,19.0,26.0,38.0,30.0,...,0,0,0,0,0,0,0,1,0,0
2008-12-04,9.2,28.0,0.0,NaN,NaN,24.0,11.0,9.0,45.0,16.0,...,0,0,0,0,0,0,0,0,0,0
2008-12-06,14.6,29.7,0.2,NaN,NaN,56.0,19.0,24.0,55.0,23.0,...,0,0,0,0,0,0,1,0,0,0
2008-12-08,7.7,26.7,0.0,NaN,NaN,35.0,6.0,17.0,48.0,19.0,...,0,0,0,0,0,1,0,0,0,0

In [20]:
#Verificar quantidade de dados faltosos
print(colored('train:\n','red'),train.isnull().sum(),'\n_______-----______\n',colored('test:\n','red'),test.isnull().sum())

train:
 Location             0
MinTemp            498
MaxTemp            251
Rainfall          1146
Evaporation      48500
Sunshine         54087
WindGustDir       7449
WindGustSpeed     7395
WindDir9am        7976
WindDir3pm        3006
WindSpeed9am      1082
WindSpeed3pm      2094
Humidity9am       1402
Humidity3pm       2866
Pressure9am      11155
Pressure3pm      11145
Cloud9am         42798
Cloud3pm         45504
Temp9am            706
Temp3pm           2162
RainToday         1146
RainTomorrow         0
dtype: int64
_______-----______
 test:
 Location             0
MinTemp            139
MaxTemp             71
Rainfall           260
Evaporation      12343
Sunshine         13729
WindGustDir       1881
WindGustSpeed     1875
WindDir9am        2037
WindDir3pm         772
WindSpeed9am       266
WindSpeed3pm       536
Humidity9am        372
Humidity3pm        744
Pressure9am       2859
Pressure3pm       2836
Cloud9am         10859
Cloud3pm         11590
Temp9am            198
Temp3pm            564
RainToday          260
RainTomorrow         0
dtype: int64

In [67]:
#vemos que se removermos os dados para treino apenas usaremos 39% dos dados. Porem pela cÃ©lula 
#anterior vemos que a variÃ¡vel objetivo nÃ£o possue valores faltosos, ou seja, podemos fazer um 
# preenchimento com valores existentes do prÃ³prio dataframe 
train.dropna(axis=0).shape[0]/train.shape[0]*100,test.dropna(axis=0).shape[0]/test.shape[0]*100

(39.824533642773005, 39.094201624529695)

In [21]:
# se assim fizermos nÃ£o zeraremos os valores faltosos. Ainda temos em mente que esse preenchimento nada garante que esses representaram
# os valores reais. No entanto, essa pertubaÃ§Ã£o nos dados tambÃ©m pode contribuir para uma melhor generalizaÃ§Ã£o. assim 
#adotaremos essa tÃ¡tica Juntamente com remoÃ§Ã£o dos valores que ainda permanecerem nan, pois esse sÃ³ preenche com valores anteriores 
# ou posteriores validos e nÃ£o mudaremos o limite de ditanciamento dessa substituiÃ§Ã£o.

train.fillna(method='ffill',inplace=True)
test.fillna(method='ffill',inplace=True)

In [22]:
#quantidade de valores faltosos apÃ³s preenchimento
train.isnull().sum(),test.isnull().sum()

(Location            0
 MinTemp             0
 MaxTemp             0
 Rainfall            0
 Evaporation      4707
 Sunshine         4707
 WindGustDir         0
 WindGustSpeed       0
 WindDir9am          0
 WindDir3pm          0
 WindSpeed9am        0
 WindSpeed3pm        0
 Humidity9am         0
 Humidity3pm         0
 Pressure9am         0
 Pressure3pm         0
 Cloud9am            8
 Cloud3pm            1
 Temp9am             0
 Temp3pm             0
 RainToday           0
 RainTomorrow        0
 dtype: int64,
 Location            0
 MinTemp             0
 MaxTemp             0
 Rainfall            0
 Evaporation      1232
 Sunshine         1232
 WindGustDir         0
 WindGustSpeed       0
 WindDir9am          0
 WindDir3pm          0
 WindSpeed9am        0
 WindSpeed3pm        0
 Humidity9am         0
 Humidity3pm         0
 Pressure9am         0
 Pressure3pm         0
 Cloud9am            0
 Cloud3pm            1
 Temp9am             0
 Temp3pm             0
 RainToday           0
 RainTomorrow        0
 dtype: int64)

In [81]:
#removemdo os valores faltosos
train.dropna(inplace=True)
test.dropna(inplace=True)
# verificar quantidade de valores faltosos
train.isnull().sum().sum(),test.isnull().sum().sum()

(0, 0)

Agora temos que transformar essas variavÃ©is literias em nÃºmericas, porÃ©m alguns